*.o
*.cmi
*.cmo
*.elf
test/*.s
sample/*.s
._bcdi/
._d/
myLexer.ml
myParser.ml
myParser.mli
min-caml
main.map
firmware/build/

# シンボリックリンクのみなさん
simm.ml
virtual.ml
regAlloc.ml
libmincaml.S
emit.ml
asm.ml
asm.mli

# その他
bytemark/Makefile
min-rt/globals.s
shootout/Makefile
test/manyargs.ml
test/toomanyargs.ml
logfile.txt

